<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      MyProgressFit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>

      <ion-col class="ion-text-center ion-padding">
        <ion-img src="./assets/my-pg/Raster.png" class="logo"></ion-img>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-title class="ion-padding-bottom">¿Que quiere hacer hoy?</ion-title>
        <section>
          <ion-button expand="large" fill='clear' color="dark">
            <ion-icon slot="start" name="barbell-outline"></ion-icon>
            Entrenar</ion-button>
        </section>
        <section>
          
          <ion-button expand="large" fill='clear' color="dark">
            <ion-icon slot="start" name="restaurant-outline"></ion-icon>
            Alimentación</ion-button>
        </section>

      </ion-col>


    </ion-row>

    <ion-row>
      <ion-col>
        
        
   
          
        
     

        
        
        
      </ion-col>

    </ion-row>

  </ion-grid>
  



</ion-content>
